
.flower-detail{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-light);
    padding: 2em;
}

.flower-page-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flower-page-img-container{
    width: 40%;
    height: 100%;
}

.flower-page-price{
    margin: 1em 0 1em 1em;
}

.flower-page-wrapper{
    padding: 1em;
    width: 60%;
}

.flower-page-title{
    text-transform:uppercase;
    color: var(--clr-hl1);
    border-bottom: 1px solid var(--clr-dark);
}

.flower-page-desc{
    margin: 2em 0 2em 0;
    padding: 2em;
    border: 1px solid var(--clr-dark);
    max-height: 50%;
    word-wrap: break-word;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.flower-page-amt{
    display: flex;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.flower-page-quantity{
    border: 1px solid var(--clr-dark);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
}

.flower-page-quantity-btn{
    cursor: pointer;
}

.flower-page-submit{
    border: 1px solid var(--clr-dark);
    background-color: var(--clr-hl1);
    border-left: 0;
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.flower-page-backBtn{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
}

.flower-page-horizontal-container{
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: baseline;
}


/* variants */
.flower-variants{
    border-left: 1px solid var(--clr-dark);
    padding-left: 1rem;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}

.flower-variants-container{
    display: flex;
    justify-content: right;
    padding: 1rem 1rem 0 0;
}

.flower-variants-item{
    width: 5em;
    height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-hl1);
    font-weight: 500;
    border: 2px solid var(--clr-hl1);
    /* background-color: var(--clr-hl1); */
}

.flower-variants-item-name{
    font-weight: 550;
}
@media screen and (max-width: 768px) {
    .flower-detail{
        flex-direction: column;
        padding: 1em;
        height: 100%;
    }

    .flower-page-img-container{
        width: 100%;
        height: 40%;
    }

    .flower-page-wrapper{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

    .flower-page-desc{
        margin: 1em 0 1em 0;
    }
    .flower-page-price{
        margin: 1em 0 1em 0;
    }

}